# Overall Models
## Random Forest Regression

In [1]:
# Pandas is used for data manipulation
import pandas as pd
# Read in data and display first 5 rows
df = pd.read_csv('clean.csv')
df.head()

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Club,Special,Preferred Foot,International Reputation,...,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,Height in Cms,Weight in Pounds,Value in Pounds,Wage in Pounds
0,0,L. Messi,31,Argentina,94,94,FC Barcelona,2202,Left,5.0,...,6.0,11.0,15.0,14.0,8.0,€226.5M,170.18,159,110500000.0,565000.0
1,1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,2228,Right,5.0,...,7.0,11.0,15.0,14.0,11.0,€127.1M,187.96,183,77000000.0,405000.0
2,2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,2143,Right,5.0,...,9.0,9.0,15.0,15.0,11.0,€228.1M,175.26,150,118500000.0,290000.0
3,3,De Gea,27,Spain,91,93,Manchester United,1471,Right,4.0,...,90.0,85.0,87.0,88.0,94.0,€138.6M,193.04,168,72000000.0,260000.0
4,4,K. De Bruyne,27,Belgium,91,92,Manchester City,2281,Right,4.0,...,15.0,13.0,5.0,10.0,13.0,€196.4M,180.34,154,102000000.0,355000.0

In [2]:
# Check type of predictor feature
print('Name and type of varialbes are: \n')
print(df.dtypes)
print('\nThe number of variables is %d' %len(df.columns))
print('...The number of categorical variables is %d' %(df.shape[1] - sum(df.dtypes=='float64') - sum(df.dtypes=='int64'))) # <- Count object type (Categorical variable) 
print('...The number of continuous variable is %d' %(sum(df.dtypes=='float64') + sum(df.dtypes=='int64'))) # <- Count float type (Continuos variable)

list_predictor_continuous = []
list_predictor_categorical = []

for name in df.columns[3:]:
    if df[name].dtype == 'float64' or df[name].dtype == 'int64':
        list_predictor_continuous.append(name)
    else:
        list_predictor_categorical.append(name)

print('List of continuous predictor:')
print(list_predictor_continuous)
print('List of categorical predictor:')
print(list_predictor_categorical)

Name and type of varialbes are:

Unnamed: 0            int64
Name                 object
Age                   int64
Nationality          object
Overall               int64
                     ...
Release Clause       object
Height in Cms       float64
Weight in Pounds      int64
Value in Pounds     float64
Wage in Pounds      float64
Length: 85, dtype: object

The number of variables is 85
...The number of categorical variables is 12
...The number of continuous variable is 73
List of continuous predictor:
['Overall', 'Potential', 'Special', 'International Reputation', 'Weak Foot', 'Skill Moves', 'Jersey Number', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes', 'Height in Cms', 'Weight in Pounds', 'Value in Pounds', 'Wage in Pounds']
List of categorical predictor:
['Nationality', 'Club', 'Preferred Foot', 'Work Rate', 'Body Type', 'Real Face', 'Position', 'Joined', 'Loaned From', 'Contract Valid Until', 'Release Clause']

In [4]:
cat_features = ['Nationality', 'Club', 'Work Rate','Real Face']

from sklearn.preprocessing import OrdinalEncoder, LabelEncoder, MinMaxScaler, StandardScaler, OneHotEncoder
import numpy as np
# Convert pd.serise to np.array
Rredictor_Categorical = df.loc[:,cat_features].values
Rredictor_Continuous = df.loc[:,list_predictor_continuous].values
Response_overall = df.loc[:,'Overall'].values 

# Integer Encoding for Categorical variable
enc_pred = OrdinalEncoder() # <- Keep this instance for inverse transform after prediction
Rredictor_Categorical_en = enc_pred.fit_transform(Rredictor_Categorical)

# MinMax Transform for Continuous variable
scaler_pred = MinMaxScaler() # <- Keep this instance for inverse transform after prediction
Rredictor = np.concatenate([Rredictor_Continuous, Rredictor_Categorical_en], axis = 1) # <- Include encoded categorical to make the same range
Rredictor_scaled = scaler_pred.fit_transform(Rredictor)
scaler_res = MinMaxScaler()
Response_overall_scaled = scaler_res.fit_transform(Response_overall.reshape(-1,1))

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(Rredictor, Response_overall_scaled, test_size=0.30)

In [ ]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(X_train, y_train)

<ipython-input-7-4992fd43b9dd>:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(X_train, y_train)